
<div class="row">
     <div  class="col-lg-4 col-md-4 col-sm-12 col-xs-12 option">
         <div class="image">
            <img id="1" src="/images/penguin.png">
         <br><br>
         <p>{{{answer1}}}</p>
         </div>
    </div>
    <div  class="col-lg-4 col-md-4 col-sm-12 col-xs-12 option">
         <div class="image">
            <img id="2" src="/images/pengbear.png">
        <br><br>
         <p>{{{answer2}}}</p>
          </div>
    </div>
     <div   class="col-lg-4 col-md-4 col-sm-12 col-xs-12 option">
         <div class="image">
            <img id="3" src="/images/bear.png">
         <br><br>
         <p>{{{answer3}}}</p>
         </div>
     </div>
</div>
<h1>{{{question}}}</h1>