<div class="row">
     <div  class="col-lg-4 col-md-4 col-sm-12 col-xs-12 option">        
           <button id="1" type="button" class="btn btn-success btn-lg">
               {{{answer1}}}
           </button>
    </div>
    <div   class="col-lg-4 col-md-4 col-sm-12 col-xs-12 option">
           <button id="2" type="button" class="btn btn-success btn-lg">
               {{{answer2}}}
           </button>
    </div>
     <div   class="col-lg-4 col-md-4 col-sm-12 col-xs-12 option">
           <button id="3" type="button" class="btn btn-success btn-lg">
               {{{answer3}}}
           </button>
     </div>
</div>
<h1>{{{question}}}</h1>